<div>
    <h2 translate="pinjobApp.announcement.home.title">Announcements</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="announcement.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="pinjobApp.announcement.home.createLabel">
                        Create new Announcement
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'pinjobApp.announcement.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="title"><span translate="pinjobApp.announcement.title">Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="body"><span translate="pinjobApp.announcement.body">Body</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="date"><span translate="pinjobApp.announcement.date">Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="place"><span translate="pinjobApp.announcement.place">Place</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="price"><span translate="pinjobApp.announcement.price">Price</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bets"><span translate="pinjobApp.announcement.bets">Bets</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="expiration"><span translate="pinjobApp.announcement.expiration">Expiration</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="picture"><span translate="pinjobApp.announcement.picture">Picture</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="pictures"><span translate="pinjobApp.announcement.pictures">Pictures</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="city"><span translate="pinjobApp.announcement.city">City</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user.login"><span translate="pinjobApp.announcement.user">User</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status.name"><span translate="pinjobApp.announcement.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="category.name"><span translate="pinjobApp.announcement.category">Category</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="announcement in vm.announcements track by announcement.id">
                    <td><a ui-sref="announcement-detail({id:announcement.id})">{{announcement.id}}</a></td>
                    <td>{{announcement.title}}</td>
                    <td>{{announcement.body}}</td>
                    <td>{{announcement.date | date:'medium'}}</td>
                    <td>{{announcement.place}}</td>
                    <td>{{announcement.price}}</td>
                    <td>{{announcement.bets}}</td>
                    <td>{{announcement.expiration | date:'medium'}}</td>
                    <td>{{announcement.picture}}</td>
                    <td>{{announcement.pictures}}</td>
                    <td>{{announcement.city}}</td>
                    <td>
                        {{announcement.user.login}}
                    </td>
                    <td>
                        <a ui-sref="status-detail({id:announcement.status.id})">{{announcement.status.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="category-detail({id:announcement.category.id})">{{announcement.category.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="announcement-detail({id:announcement.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="announcement.edit({id:announcement.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="announcement.delete({id:announcement.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
